body {
    font-family: 'Courier New', monospace;
    background: hsla(0, 0%, 0%, 1);
    background: -webkit-linear-gradient(180deg, hsla(0, 0%, 0%, 1) 20%, hsla(112, 73%, 48%, 1) 100%);
}

/* pic, line, h1 */
.title-container {
    display: flex;
    align-items: center; /* center heading with image */
}

/* title text */
h1, a {
    color: #321457;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* album pic */
img {
    border: 5px solid #322f2f;
}

/* dividing line */
.vl {
    margin-left: 45px;
    margin-right: 45px;
    border-left: 6px solid #3c2f4b;
    height: 300px;
}