{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<div class="about-container">
    <h1>Welcome to my amazing app!</h1>
    <div class="h-line"></div>
    <br>
    <p>I have no clue why you would:</p>
    <ol type='a'>
        <li>trust me with your data</li>
        <li>use this over any other site</li>
        <li>use this when it is quite inefficient</li>
        <li>want to do this</li>
        <li>not just look at what you are playing through Spotify's interface</li>
    </ol>
</div>
{% endblock %}