{% extends "layout.html" %} {% block title %}Profile{% endblock %} {% block main
%}
<img
	id="userImg"
	src="/static/images/default_pfp.png"
	height="300px"
	width="300px"
/>
<h1 id="userTitle"></h1>
{% endblock %} {% block api_req %}
<script>
	async function get_data() {
		// references
		let userImg = document.querySelector("#userImg");
		let userTitle = document.querySelector("#userTitle");

		// Storing response
		const response = await fetch("https://api.spotify.com/v1/me", {
			method: "GET",
			headers: {
				Authorization: "Bearer {{session['access_token']}}",
			},
		});

		// Storing data in form of JSON
		var data = await response.json();

		// update dom
		userImg.src = data["images"][1]["url"]; // grab second image in images array
		userTitle.innerText = data["display_name"];
	}

	get_data();
</script>
{% endblock %}
